/* Created by: Julianne Leblanc-Peltier
* Created on: Feb 2024
* This file contains the CSS for index.html
*/

body {
  background-color: rgb(219 245 255);
}

.mdl-layout__content {
  padding-left: 30pt;
  padding-right: 30pt;
  padding-top: 15pt;
}
.demo-list-item {
  width: 300px;
}
